{% extends 'base.html.twig' %}

{% block title 'BIENVENUE' %}

{% block body %}
<div class="jumbotron text-center">
<h1>bienvenue sur la page de telechargement des project<h1>
<p>telecharger les project gratuitement</p>

<a href="{{"blabla"}}" download>Click here to download</a>
</div>

{% endblock %}  